@import url(//fonts.googleapis.com/css?family=Arimo:regular,700&subset=latin);
@import url(//fonts.googleapis.com/css?family=Architects+Daughter:regular&subset=latin);
@font-face {font-family: 'Bell MT Regular';src: url("XaraWDEmbeddedHTMLfont1.eot?") format("embedded-opentype"), local('Bell MT Regular'), local("BellMT");}
@font-face {font-family: 'Bell MT Bold';src: url("XaraWDEmbeddedHTMLfont2.eot?") format("embedded-opentype"), local('Bell MT Bold'), local("BellMT");}
@font-face {font-family: 'Georgia Regular';src: url("XaraWDEmbeddedHTMLfont3.eot?") format("embedded-opentype"), local('Georgia Regular'), local("Georgia");}
